.accordion {
    &-row {

    }
    &-head {
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    &-body {
        max-height: 0;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        &:last-child {
            margin-bottom: 0;
        }
        &.opened {
        }
    }
}