.grid_cols_2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid_cols_3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid_cols_4 {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid_cols_6 {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}